/* GENERAL */
html {
	background-image: linear-gradient(to right, rgb(209, 167, 0), rgb(250, 223, 50), rgb(238, 170, 23), rgb(235, 195, 19)); 
	}
body {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}
body::-webkit-scrollbar {
  display: none;
}
/* NAVEGACION */
.nav {
	position: fixed;
	width: 100%;
	background-color: rgb(187, 16, 16) ;
	border-radius: 0 0 15px 15px;
	z-index: 10;
}
.nav__li {
	color: white;
	display: inline-block;
	text-decoration: none;
}
.nav__li:hover {
	color: red;
	transition: all 0.5s;
}
.nav__sub {
	position: fixed;
	bottom: 10px;
	left: 3px;
	color: white;
	display: inline-block;
	cursor: pointer;
}
.nav__sub:hover {
	color: #707070;
	transition: all 1s;
}
.subir {
	font-size: 10px;
}
em {
	font-size: 25px;
}
#cabeza {
	height: 60px;
	float: right;
	margin: -16px 10px;
	border-radius: 100px;
}
#cabeza:hover {
	height: 65px;
	transition: all 0.5s;
}
/* TARJETAS */
#containerInputs {
	width: auto;
	height: 95px;
	text-align: center;
}
.input {
	margin-top: 65px;
	font-size: 20px;
	font-weight: bolder;
	border: 4px solid blue;
	border-radius: 15px;
}
.container {
	display: inline-flex;
}
.card {
	margin: 15px;
	width: 280px;
	height: 450px;
	padding: 6px;
	border: 5px solid blue;
	border-radius: 0 20px;
	box-shadow: 10px 10px 10px rgb(31, 30, 30);
	text-align: center;
}
.fotoCard {
	width: 260px;
	height: 280px;
	border-radius: 0 20px 0 0;
	box-shadow: 5px 10px 10px black;
}
.descripcion {
	display: none;
	position: absolute;
	width: 260px;
	padding: 5px;
	margin-top: -280px;
	color: white;
	font-size: 20px;
	background-color: red;
	border-radius: 15px;
	z-index: 1;
	user-select: none;
}
.descript:hover > .descripcion {
	display: grid;
}
h4 {
	position: absolute;
	margin-top: -85px;
	margin-left: 10px;
	font-size: 60px;
	color: rgba(0, 0, 0, 0.339);
	user-select: none;
}
.title {
	background-color: rgb(255, 72, 0);
	border-radius: 15px;
	height: 80px;
	width: 280px;
	font-size: 20px;
}
.precios {
	width: 220px;
	padding: 3px;
	margin-left: 50px;
}
.pre {
	display: contents;
	font-size: 25px;
	color: rgb(120, 4, 4);
}
.btn {
	width: 200px;
	height: 30px;
	border-radius: 10px;
	font-size: 18px;
	font-weight: bolder;
	cursor: pointer;
	background-color: rgb(255, 34, 0);
	margin-left: 50px;
}
.btn:hover {
	background-color: rgb(218, 42, 15);
}
.btn:active {
	transform: scale(0.85);
}
.cantidad {
	position: absolute;
	margin-left: -15px;
	width: 50px;
	height: 25px;
	border: 1px solid red;
	background-color: rgb(232, 214, 49);
	border-radius: 30%;
	font-size: 16px;
}
.cant {
	position: absolute;
	color: black;
	margin-top: -14px;
	font-size: 15px;
	font-weight: bold;
	z-index: 1;
}
/* CARRITO */
.carrito {
	position: absolute;
	list-style: none;
	right: 100px;
	margin-top: -10px;
	color: white;
	border-radius: 50%;
	padding: 10px;
	text-decoration: none;
	cursor: pointer;
}
#esconder {
	display: none;
	position: absolute;
	color: white;
	right: 200px;
	top: 15px;
	width: 200px;
	font-size: 27px;
}
.carroLista {
	position: absolute;
	margin: auto 15%;
	display: none;
	width: 70%;
	background-color: rgba(0, 34, 255, 0.833);
	text-align: center;
	color: white;
	font-size: 30px;
	border-radius: 0 0 20px 20px;
}
#x {
	position: relative;
	right: -48%;
	cursor: pointer;
}
p {
	display: contents;
}
.btnEliminar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}
#btnComprar {
	position: absolute;
	width: 105px;
	bottom: 0;
	left: 0;
	font-size: 16px;
	background-color: rgb(255, 98, 0);
	color: white;
	padding: 4px;
	border: 2px solid black;
	border-radius: 30px;
	cursor: pointer;
}
#btnComprar:hover {
	background-color: red;
}
#fecha {
	display: none;
	position: absolute;
	background-color: rgb(216, 53, 53);
	width: 280px;
	height: 150px;
	top: 40%;
	left: 33%;
	border: black 10px solid;
	border-radius: 20px;
	padding: 5px;
	font-size: 40px;
	z-index: 110;
}
/* SOBRE NOSOTROS */
.h1 {
	position: absolute;
	font-size: 3vw;
	text-decoration: underline;
	margin-left: 10px;
}
.sobreNos {
	position: absolute;
	width: 70%;
	height: 300px;
	color: black;
	margin-top: 220px;
	font-size: 2.7vw;
	left: 15%;
}
.mapa {
	position: absolute;
	margin-top: 600px;
	margin-left: 50px;
}
iframe {
	width: 700px;
	height: 400px;
}
.telef {
	position: absolute;
	margin-top: 650px;
	font-size: 3vw;
	left: 60%;
}
@media only screen and (max-width: 1280px) {
	#esconder {
		right: 150px;
	}
	.telef {
		margin-top: 510px;
		font-size: 2vw;
		left: 50%;
	}
	.h1 {
		top: 20px;
	}
}
@media only screen and (max-width: 785px) {
	#fecha {
		left: 20%;
	}
	#list {
		font-size: 20px;
	}
	.btnEliminar {
		width: 25px;
		height: 25px;
	}
	.fa-trash-can {
		font-size: 17px;
		margin-left: -3px;
	}
	.nav__ul {
		margin-left: -40px;
	}
	.nav__li a {
		font-size: 18px;
	}
	em {
		font-size: 18px;
	}
	.carrito {
		right: 5px;
	}
	#esconder {
		right: -15px;
		font-size: 20px;
	}
	.nav__li {
		padding-left: 4px;
	}
	#cabeza{
		display: none;
	}
	.h1 {
		top: 40px;
	}
	.sobreNos {
		left: 15px;
		width: 90%;
		margin-top: 150px;
		font-size: 19px;
	}
	.telef {
		margin-top: 340px;
		font-size: 20px;
	}
	.mapa {
		margin-top: 420px;
	}
	iframe {
		width: 400px;		
		height: 350px;
	}
	.carroLista {
		font-size: 25px;
		width: 90%;
		margin-left: 5%;
	}
}
@media only screen and (max-width: 420px) {
	#fecha {
		left: 10%;
		width: 300px;
		height: 200px;
		padding: 0;
	}
	#btnComprar {
		width: 65px;
		font-size: 10px;
	}
	.card {
		width: 300px;
		margin-left: 5px;
		margin-left: 45px;
	}
	.fotoCard {
		width: 290px;
		height: 320px;
	}
	.descripcion {
		width: 290px;
	}
	.title {
		font-size: 17px;
		width: 290px;
		height: 60px;
		margin-top: -12px;
	}
	.precios {
		width: 290px;
	}
	.pre {
		font-size: 20px;
	}
	.cantidad {
		margin-left: -23px;
	}
	.sobreNos{
		font-size: 17px;
	}
	.telef {
		font-size: 18px;
		left: 40%;
	}
	iframe {
		width: 300px;
		height: 250px;
	}
	.mapa {
		margin-left: 15px;
	}
	.sobreNos {
		margin-top: 100px;
	}
	em {
		font-size: 14px;
	}
	.nav__li a {
		font-size: 15px;
	}
	#esconder {
		font-size: 18px;
	}
	.carroLista {
		font-size: 20px;
		width: 100%;
		margin-left: 0%;
	}
}