/* GENERAL */
html {
	background-image: linear-gradient(to right, rgb(212, 175, 25), rgb(255, 111, 0), rgb(238, 117, 23), rgb(255, 102, 0)); 
	}
body {
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}
/* WHATSAPP */
.whatsapp {
	position:fixed;
	width: 60px;
	height: 60px;
	bottom: 15px;
	right: 15px;
	background-color:#1df56ca1;
	color:rgba(255, 255, 255, 0.733);
	border-radius:50px;
	text-align:center;
	z-index:100;
}
.whatsapp-icon {
	margin-top: 7px;
	font-size: 48px;
}
/* NAVEGACION */
.nav {
	position: fixed;
	width: 100%;
	background-image: linear-gradient(to right, rgb(205, 85, 76), rgb(228, 46, 33), rgb(142, 14, 14));
	border-radius: 0 0 15px 15px;
	z-index: 1;
}
.nav__li {
	color: white;
	display: inline-block;
}
.nav__li:hover {
	color: #707070;
	transition: all 1s;
}
.nav__li a {
	color: white;
	font-family: sans-serif;
}
.nav__li:hover a {
	color: #707070;
	transition: all 1s;
}
.nav__sub {
	position: fixed;
	bottom: 10px;
	left: 5px;
	color: white;
	display: inline-block;
	cursor: pointer;
}
.nav__sub:hover {
	color: #707070;
	transition: all 1s;
}
i {
	font-size: 25px;
}
#cabeza {
	height: 50px;
	float: right;
	margin: -12px 10px;
	border-radius: 100px;
}
#cabeza:hover {
	height: 65px;
	box-shadow: 4px 4px black;
	transition: all 1s;
}
/* TARJETAS */
.container {
	display: inline-flex;
}
.card {
	margin-top: 65px;
	margin-left: 25px;
	width: 250px;
	height: 450px;
	padding: 6px;
	border: 5px solid red;
	border-radius: 0 20px;
	box-shadow: 10px 10px 10px rgb(31, 30, 30);
	text-align: center;
}
.fotoCard {
	width: 240px;
	height: 280px;
	border-radius: 0 20px 0 0;
	box-shadow: 5px 10px 10px black;
}
.descripcion {
	display: none;
	position: absolute;
	width: 240px;
	padding: 5px;
	margin-top: -280px;
	color: white;
	font-size: 20px;
	background-color: red;
	border-radius: 15px;
	z-index: 1;
	user-select: none;
}
.descript:hover > .descripcion {
	display: grid;
}
h4 {
	position: absolute;
	margin-top: -85px;
	margin-left: 10px;
	font-size: 60px;
	color: rgba(0, 0, 0, 0.339);
	user-select: none;
}
.title {
	background-color: rgb(255, 72, 0);
	border-radius: 15px;
	height: 80px;
	width: 245px;
	font-size: 20px;
}
.precios {
	width: 240px;
	padding: 3px;
}
.pre {
	display: contents;
	font-size: 25px;
	color: rgb(120, 4, 4);
}
.btn {
	width: 200px;
	height: 30px;
	border-radius: 10px;
	font-size: 18px;
	font-weight: bolder;
	cursor: pointer;
	background-color: rgb(255, 34, 0);
	margin-left: 50px;
}
.btn:active {
	transform: scale(0.85);
}
.cantidad {
	position: absolute;
	width: 40px;
	height: 25px;
	border: 1px solid red;
	background-color: rgb(232, 214, 49);
	border-radius: 30%;
	font-size: 16px;
}
.cant {
	position: absolute;
	color: black;
	margin-top: -12px;
	font-size: 13px;
	z-index: 1;
}
/* CARRITO */
.carrito {
	position: absolute;
	list-style: none;
	right: 100px;
	margin-top: -10px;
	color: white;
	border-radius: 50%;
	padding: 10px;
	text-decoration: none;
	cursor: pointer;
}
#esconder {
	display: none;
	position: absolute;
	color: white;
	right: 200px;
	top: 15px;
	width: 200px;
	font-size: 30px;
}
.carroLista {
	position: absolute;
	margin: auto 15%;
	display: none;
	width: 70%;
	background-color: rgba(255, 0, 0, 0.729);
	text-align: center;
	color: white;
	font-size: 30px;
	border-radius: 0 0 20px 20px;
}
#x {
	position: relative;
	right: -48%;
	cursor: pointer;
}
p {
	display: contents;
}
.btnEliminar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	cursor: pointer;
}

/* SOBRE NOSOTROS */
.h1 {
	position: absolute;
	font-size: 3.5vw;
	text-decoration: underline;
	margin-left: 10px;
}
.sobreNos {
	position: absolute;
	width: 70%;
	height: 300px;
	color: black;
	margin-top: 220px;
	font-size: 2.7vw;
	left: 15%;
}
.mapa {
	position: absolute;
	margin-top: 650px;
	margin-left: 50px;
}
iframe {
	width: 700px;
	height: 400px;
}
.telef {
	position: absolute;
	margin-top: 700px;
	font-size: 3vw;
	left: 60%;
}
@media only screen and (max-width: 1280px) {
	#esconder {
		right: 150px;
	}
	.telef {
		margin-top: 530px;
		font-size: 2vw;
		left: 50%;
	}
	.h1 {
		top: 20px;
	}
}
@media only screen and (max-width: 785px) {
	#list {
		font-size: 20px;
	}
	.btnEliminar {
		width: 25px;
		height: 25px;
	}
	.fa-trash-can {
		font-size: 17px;
		margin-left: -3px;
	}
	.nav__ul {
		margin-left: -40px;
	}
	.nav__li a {
		font-size: 18px;
	}
	i {
		font-size: 18px;
	}
	.carrito {
		right: 5px;
	}
	#esconder {
		right: -15px;
		font-size: 20px;
	}
	.nav__li {
		padding-left: 4px;
	}
	#cabeza{
		display: none;
	}
	.h1 {
		top: 40px;
	}
	.sobreNos {
		left: 15px;
		width: 90%;
		margin-top: 150px;
		font-size: 19px;
	}
	.telef {
		margin-top: 340px;
		font-size: 20px;
	}
	.mapa {
		margin-top: 420px;
	}
	iframe {
		width: 400px;		
		height: 350px;
	}
	.carroLista {
		font-size: 25px;
	}
}
@media only screen and (max-width: 420px) {
	.card {
		width: 300px;
		margin-left: 5px;
	}
	.fotoCard {
		width: 290px;
		height: 320px;
	}
	.descripcion {
		width: 290px;
	}
	.title {
		font-size: 17px;
		width: 290px;
		height: 60px;
		margin-top: -12px;
	}
	.precios {
		width: 290px;
	}
	.pre {
		font-size: 20px;
	}
	.cantidad {
		margin-left: -23px;
	}
	.whatsapp {
		width: 40px;
		height: 40px;
		bottom: 5px;
		right: 5px;
	}
	.whatsapp-icon {
		margin-top: 4px;
		font-size: 35px;
	}
	.sobreNos{
		font-size: 17px;
	}
	.telef {
		font-size: 18px;
		left: 40%;
	}
	iframe {
		width: 300px;
		height: 250px;
	}
	.mapa {
		margin-left: 15px;
	}
	.sobreNos {
		margin-top: 100px;
	}
	i {
		font-size: 14px;
	}
	.nav__li a {
		font-size: 15px;
	}
	#esconder {
		font-size: 18px;
		right: -35px;
	}
	.card{
		margin-left: 45px;
	}
	.carroLista {
		font-size: 20px;
		width: 90%;
		margin-left: 5%;
	}
}